{% extends 'site.html' %}
{% load static %}

{% block content %}
    <div class="album py-5 bg-light" v-if="show_preview==0">
        <div class="container">
            <div class="row">
                    <div class="col-md-4" v-for="rec in array" :key="rec.id">
                      <div class="card mb-4 shadow-sm">
                          <img class="preview-list btn" :src="rec.poster" @click="preview(rec.id)">

                         <div class="card-title">
                            <h5 class="card-text"  v-text="rec.titulo"></h5>
                         </div>
                          <div class="card-body">
                              <p class="card-text cortar" v-text="rec.sinopsis"></p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                 <button @click="preview(rec.id)" type="button" class="btn btn-sm btn-outline-secondary">Ver mas..</button>

                            </div>
                              <small class="text-muted" v-text="rec.fecha_estreno"></small>
                          </div>
                        </div>
                      </div>
                    </div>
            </div>
            <nav>
                <ul class="pagination">
                    <li class="page-item" v-if="pagination.current_page > 1">
                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1)">Ant</a>
                    </li>
                    <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == pagesActived ? 'active':'']">
                        <a class="page-link" href="#" v-text="page" @click.prevent="cambiarPagina(page)"></a>
                    </li>
                    <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                        <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1)">Sig</a>
                    </li>
                </ul>
            </nav>
        </div>
      </div>
    <div v-if="show_preview==1" class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4" v-text="preview_rec.titulo"></h1>

          <hr>
          <!-- Date/Time -->
            <p>Fecha de estreno: <strong v-text="preview_rec.fecha_estreno"></strong> </p>
            <button @click="show_preview=0" type="button" class="btn btn-sm btn-outline-secondary">Regresar</button>
          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded preview-detail" :src="preview_rec.poster" alt="">

          <hr>

            <blockquote class="blockquote">
                <footer class="blockquote-footer" v-text="preview_rec.sinopsis">
                </footer>
              </blockquote>

            <!-- Post Content -->
            <p class="lead" v-text="preview_rec.resena"></p>
            <button @click="show_preview=0" type="button" class="btn btn-sm btn-outline-secondary">Regresar</button>
          <hr>

          <!-- Comments Form -->

            <div class="mb-5">
                <h5 class="mt-0">Los que han comentado de nuestros usuarios:</h5>
            </div>
          <!-- Single Comment -->
          <div class="media mb-4 ml-4" v-for="comentario in preview_rec.comentarios" :key="comentario.id">
            <div class="media-body">
              <span style="font-size: 12px;" v-text="comentario.fecha"></span>
                <span class="mt-0" v-text="comentario.usuario"></span>
                <blockquote class="blockquote">
                <footer class="blockquote-footer" v-text="comentario.comentario"></footer>
              </blockquote>

            </div>
          </div>

            <div class="card my-4">
            <h5 class="card-header">Agregar un comentario:</h5>
            <div class="card-body">
                {% if user.is_authenticated %}
                  <div class="form-group">
                      {{ user.first_name }}:
                      <textarea v-model="comentario" class="form-control" rows="3"></textarea>
                  </div>
                  <button type="button" @click="save_comentario(preview_rec.id,comentario)" class="btn btn-primary">Enviar</button>
                {% else %}
                    <p class="text-center">
                      Es necesario que estes autenticado, <a href="#">Login</a>
                    </p>
                {% endif %}
            </div>
          </div>

            <button @click="show_preview=0" type="button" class="btn btn-sm btn-outline-secondary">Regresar</button>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">


          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categorias</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Accion</a>
                    </li>
                    <li>
                      <a href="#">Aventura</a>
                    </li>
                    <li>
                      <a href="#">Ciencia Ficcion</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Drama</a>
                    </li>
                    <li>
                      <a href="#">Familiares</a>
                    </li>
                    <li>
                      <a href="#">Terror</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>
      <!-- /.row -->

    </div>
{% endblock%}