<!DOCTYPE html>
{% load static %}
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sitio de peliculas">
    <meta name="author" content="Francisco Rodriguez">
    <title>Sitio de Peliculas</title>
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/site.css' %}" rel="stylesheet">

  </head>

  <body>
    <div id="app">
      <header>

        <div class="navbar navbar-dark bg-dark shadow-sm">
          <div class="container">
                <div class="col-sm-3 col-md-4">
                  <a @click="show_preview=0"  class="btn navbar-brand d-flex align-items-center">
                     <img src="{% static 'img/logo.png' %}" style="max-height: 80px; margin-right:20px;" alt="logo-site">
                    <strong class="text-white">Peliculas</strong>
                  </a>
                </div>
                <div class="col-sm-5 col-md-8">
                    {% if user.is_authenticated %}
                        <form id="logoutform" method="POST" action="{% url 'api:logout' %}">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                        <button @click="document.getElementById('logoutform').submit()" type="button" class="btn btn-secondary float-right">
                            <span class="fa fa-power-off fa-lg"></span> cerrar sesion
                        </button>
                        {% if user.is_staff %}
                            <a href="/mgm" target="_blank" class="btn btn-link float-right">
                                <span class="fa fa-database fa-lg"></span> admin panel
                            </a>
                        {% endif %}
                        <h5 class="text-white float-right mr-3">Bienvenido: {{ user.first_name }} </h5>
                    {% else %}
                        <form>
                          <div class="form-row align-items-center">
                            <div class="col-md-5 col-sm-5 my-1">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text">@</div>
                                </div>
                                <input type="text" v-model="email" class="form-control" placeholder="Email">
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-5 my-1">
                              <input type="password" v-model="password" class="form-control" placeholder="Password">
                            </div>

                            <div class="col-auto my-1">
                              <button type="button" @click="login()"  class="btn btn-secondary float-right">
                                    <span class="fa fa-sign-in fa-lg"></span> Login
                                </button>
                            </div>
                          </div>
                        </form>
                    {% endif %}
                </div>
          </div>

        </div>
      </header>

      <main role="main">
          <section class="jumbotron text-center">
            <div class="container">
              <h1 class="jumbotron-heading">El mejor sitio de reseñas de Peliculas</h1>
              <p class="lead text-muted">En este sitio web encontraras informacion de las mejores peliculas, podras revisar su reseñas y comentarios de otros usuarios.</p>
              {% if not user.is_authenticated %}
                <p>
                    <button @click="modal_registro()" type="button" class="btn btn-primary my-2">Registrarme ahora!</button>
                  </p>
                {% endif %}
            </div>
          </section>

        {% block content %}
        {% endblock%}

      </main>

      <!--Inicio del modal Registro-->
        <div class="modal fade" tabindex="-1" :class="{'mostrar':modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">

            <div class="modal-dialog modal-primary modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Crear una cuenta</h4>
                        <button type="button" class="close" @click="modal=0" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label text-right" for="text-input">Nombre (*)</label>
                                <div class="col-md-9">
                                    <input type="text" v-model="nombre_usuario" class="form-control" placeholder="">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 form-control-label text-right" for="text-input">Email (*)</label>
                                <div class="col-md-9">
                                    <input type="text" v-model="email" class="form-control" placeholder="name@domain.com">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 form-control-label text-right" for="text-input">Password (*)</label>
                                <div class="col-md-9">
                                    <input type="password" v-model="password" class="form-control" placeholder="">
                                </div>
                            </div>

                            <div v-show="error" class="form-group row div-error">
                                <div class="text-center text-error">
                                    <div v-for="errorMsj in errors" :key="errorMsj" v-text="errorMsj"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="modal=0">Cerrar</button>
                        <button type="button" @click="registrar()" class="btn btn-primary">Registrar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!--Fin del modal-->

    </div>
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">ir a Arriba</a>
        </p>
        <p>© Peliculas, Sitio de reseña de peliculas</p>
          {% if user.is_staff %}
            <p>
                Eres administrador!
                <a href="/mgm" target="_blank" class="btn btn-link">
                    <span class="fa fa-database fa-lg"></span> admin panel
                </a>
            </p>
          {% endif %}
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'node_modules/vue/dist/vue.min.js' %}"></script>
    <script src="{% static 'node_modules/axios/dist/axios.min.js' %}"></script>
    <script src="{% static 'node_modules/sweetalert2/dist/sweetalert2.all.min.js' %}"></script>

    <script src="{% static 'js/site.js' %}"></script>



<svg xmlns="http://www.w3.org/2000/svg" width="348" height="225" viewBox="0 0 348 225" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="17" style="font-weight:bold;font-size:17pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg></body></html>